* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/*  Layout */
.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-columns: 1.3fr 2fr 2fr;
  grid-template-areas:
    'nav nav nav'
    'panel widget widget'
    'panel widget widget'
    'panel widget widget';
  gap: 1rem;
}

header {
  width: 100vw;
  background-color: #343a40;
  grid-area: nav;
}
.panel {
  grid-area: panel;
  margin: 0 0 0.5rem 0.5rem;
}

.widget-container {
  grid-area: widget;
  margin: 0 0.5rem 0.5rem 0;
}

/* Header Customization */
header p {
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  padding: 0.7rem 0;
  margin: 0;
}

/* Left Panel */
.panel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #f8f9fa;
}

/* Search Container */
.search {
  margin: 1rem auto;
  font-size: 1.3rem;
  color: #343a40;
  border-radius: 3px;
  display: flex;
}

/* City - Text */
.search > p {
  font-size: 1.4rem;
  margin: auto 0;
}
/* Search Input */
.search input {
  font-size: 1.3rem;
  padding: 0.3rem 0.3rem;
  border: 1px solid rgba(200, 0, 0, 0.3);
  border-radius: 3px;
  transition: border 300ms;
  margin-left: 0.3rem;
}

.search input:hover {
  border: 1px solid rgba(0, 0, 200, 0.5);
}

.search input:focus {
  border: 1px solid rgba(0, 0, 200, 0.5);
  outline: none;
}
/* Search Button */
.search button {
  background-color: #007bff;
  border: none;
  margin: 0 0.2rem;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid rgba(200, 0, 0, 0.3);
  transition: all 300ms;
  outline: none;
}

.search button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 200, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 0, 200, 0.5);
}

.search button i {
  font-size: 1.3rem;
  color: #ffffff;
}

/* List -> Search History */
.city-list {
  margin: 1rem 0.5rem;
  width: 90%;
}

.city-list ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.city-list ul li {
  width: 100%;
  display: block;
  overflow: hidden;
}

/* List items */
.city-list ul li button {
  font-size: 1.5rem;
  border: 1px solid rgba(255, 0, 0, 0.2);
  border-radius: 3px;
  background-color: #ffffff;
  transition: border 250ms;
  padding: 0.4rem;
  margin: 0.3rem 0;
  outline: none;
  width: 100%;
}
.city-list ul li button:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 200, 0.5);
}

.city-list ul li button:focus {
  border: 1px solid rgba(0, 0, 200, 0.8);
}

/* Main Widget */
.widget-container {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}

.widget-container .info-panel {
  width: 100%;
  border-radius: 5px;
  margin: 1rem;
}

.widget-container .info-panel p {
  font-size: 1.3rem;
  margin: 1rem;
}

.widget-container .info-panel p:first-child {
  margin: 1rem;
  font-size: 3rem;
}

.widget-container .info-panel p:first-child i {
  font-size: 2.5rem;
}

.widget-container .info-panel p span {
  font-size: 1.3rem;
}
#uvIndex span {
  border-radius: 5px;
  background-color: #dc3545;
  color: #ffffff;
  padding: 0.3rem;
}

/* Forecast */
.foreCast {
  width: 100%;
}

.foreCast > p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.4rem 1rem 0.8rem 1rem;
}

#forecastList {
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

/* Forecast Cards */
.card {
  background-color: #007bff;
  padding: 1rem 0.5rem;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  margin: 0.5rem;
}
.card:first-child {
  margin-left: 1rem;
}

.card p,
.card i {
  padding: 0.5rem;
}

.card p:first-child {
  font-weight: 400;
  font-size: 1.3rem;
}
